.search {
  position: relative;
  display: flex;
  align-items: center;

  &__input {
    margin-right: .5em;
    padding: .25em 2em .25em 1em;

  }

  &__icon {
    cursor: pointer;
  }

  img {
    width: 1.75em;
    cursor: pointer;
  }
}

.clear {
  position: absolute;
  top: 50%;
  right: 3em;
  transform: translateY(-60%);
  z-index: 20;
}