.lang {
  position: relative;
  width: 4.25em;


  &__btn {
    display: flex;
    align-items: center;
    padding: .25em;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    border-radius: 1em;
    position: relative;
    z-index: 10;
    outline: none;
    //border: none;

    img {
      margin-left: .5em;
      height: 1.25em;
    }
  }
}

.container {
  //background-color: lightgray;
  //border-radius: 1em;
  position: absolute;
  right: 0;
  top: 0;
  width: 4.25em;
  padding-top: 2.25em;
}